body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

/* Bootstrap garbage */
.control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
  }

  .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
  }

  .controls:first-child {
    *padding-left: 180px;
  }

  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  .row-fluid .controls-row [class*="span"]+[class*="span"] {
    margin-left: 2.127659574468085%;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }

  .row-fluid .span11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
  }

  .row-fluid .span10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%;
  }

  .row-fluid .span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
  }

  .row-fluid .span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
  }

  .row-fluid .span7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
  }

  .row-fluid .span6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
  }

  .row-fluid .span5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
  }

  .row-fluid .span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
  }

  .row-fluid .span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
  }

  .row-fluid .span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
  }

  .row-fluid .span1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
  }


  .control-group {
    margin-bottom: 10px;
  }

  legend+.control-group {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
  }

  .control-group {
    margin-bottom: 20px;
    *zoom: 1;
  }

  .control-group:before,
  .control-group:after {
    display: table;
    line-height: 0;
    content: "";
  }

  .control-group:after {
    clear: both;
  }

  .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
  }

  .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
  }

  .controls:first-child {
    *padding-left: 180px;
  }

  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
  }

  table th,
  table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
  }

  table th {
    font-weight: bold;
  }

  table thead th {
    vertical-align: bottom;
  }

  table caption+thead tr:first-child th,
  table caption+thead tr:first-child td,
  table colgroup+thead tr:first-child th,
  table colgroup+thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0;
  }

  table tbody+tbody {
    border-top: 2px solid #dddddd;
  }

  table .table {
    background-color: #ffffff;
  }
