body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

abbr {
  text-decoration: none;
  margin-right: 0.25rem;
}

.citation_title {
  font-weight: bold;
}

.search_result {
  margin: 0 0 0.5rem 0;
  line-height: 1.5rem;
}
