body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#topbar a,
#topbar a:visited,
header a,
header a:visited,
nav a,
nav a:visited {
  text-decoration: none;
  color: white;
}

#topbar,
header,
main {
  padding: 0.5rem;
}

#topbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(56, 138, 158);
}

header {
  display: flex;
  background-color: rgb(64, 157, 180);
}

header h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

nav {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  align-items: flex-end;
}

nav a {
  display: block;
  padding: 0 0.5rem;
}

nav a:first-child {
  padding-left: 0;
}

nav a:last-child {
  padding-right: 0;
}

table.package {
  box-sizing: content-box;
  border-collapse: collapse;
}

table.package td {
  padding: 0.25rem 0.5rem;
}

table.package th {
  border-bottom: 1px solid #AAA;
}

table.package td {
  border-bottom: 1px solid #CCC;
}

a.button {
  background-color: rgb(214, 28, 69);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: white;
  font-size: 75%;
  padding: 0.1rem 0.2rem;
  text-decoration: none;
}

a.button:hover {
  background-color: rgb(245, 31, 78);
}

.metadata-view {
  padding: 1.5rem;
}

input {
  font-size: inherit;
  width: 100%;
}
