body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

header,
nav,
main {
  padding: 0.5rem;
}

header a,
header a:visited,
nav a,
nav a:visited {
  text-decoration: none;
  color: blue;
}

nav {
  display: flex;
}

nav a {
  display: block;
  margin-right: 0.5rem;
  font-weight: bold;
}

header h1 {
  margin: 0;
  padding: 0;
}

table.package {
  box-sizing: content-box;
  border-collapse: collapse;
}

table.package td {
  padding: 0.25rem 0.5rem;
}

table.package th {
  border-bottom: 1px solid #AAA;
}

table.package td {
  border-bottom: 1px solid #CCC;
}

.metadata-view {
  padding: 1.5rem;
}

input {
  font-size: inherit;
  width: 100%;
}
